<html>
<head>
	<title>Employment Detail Form | Hire Me</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
	<!-- <meta name="viewport" content="width=device-width,initial-scale=1.0"> -->
	<style>
		.hor_inputs{
			display: flex;
			flex-direction:row;
			justify-content:space-around;
		}
	</style>
</head>
<body>

	<div class="container" style="width:40%;margin-top:4%">

		<h3 style="text-align:center">Application Form</h3>


		<div style="margin-top:30px;">
			<form action="/apply-to-{{job_id}}" method="POST">


			<div class="form-group">
			   <textarea type="text" class="form-control" name="cover_letter" rows="18" placeholder="Cover Letter"></textarea>
			</div>


			  <button type="submit" class="btn btn-primary" style="width:100%;margin-top: 8px;">SUBMIT</button>
			</form>
		</div>
	</div>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script type="text/javascript">
		  {% with messages = get_flashed_messages() %}
		  {% if messages %}
		    {% for message in messages %}
		      swal('{{message}}');
		    {% endfor %}
		  {% endif %}
		{% endwith %}
		</script>
</body>
</html>
