<html>
<head>
	<title>Login | Hire Me</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>
<body>

	<div class="container" style="width:40%;margin-top:12%">

		<h1 style="text-align:center">{{user_type|upper}} : LOGIN</h1>


		<div style="margin-top:30px;">
			<form action="/login-{{user_type}}" method="POST" >
			  <div class="form-group">
			    <label>Email address</label>
			    <input type="email" name="email" class="form-control" id="email"  placeholder="Enter email">

			  </div>
			  <div class="form-group">
			    <label>Password</label>
			    <input type="password" name="passwd" class="form-control" id="password" placeholder="Password">
			  </div>
			  <button type="submit" class="btn btn-primary" style="width:100%;margin-top: 8px;">LOGIN</button>
			</form>
		</div>
	</div>

	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script type="text/javascript">
		  {% with messages = get_flashed_messages() %}
		  {% if messages %}
		    {% for message in messages %}
		      swal('{{message}}');
		    {% endfor %}
		  {% endif %}
		{% endwith %}
		</script>
</body>
</html>
